.popup__save-button {
  margin: 14px auto 18px auto;
  width: 358px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 622px) {
  .popup__save-button {
    margin: 14px auto 18px auto;
    font-size: 14px;
    line-height: 17px;
    width: 238px;
  }
}
